.service-site{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    padding: 100px 0;
}

.service__title{
   display: flex;
   flex-direction: column;
   align-items: center;
    margin:0px 200px 60px 200px; 

    p{
        text-align: center;
        width: 734px;
    }
}

.services__list{
    width: 100%;
    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li:nth-child(2){
            margin:0 70px;
        }

        li{
            a{
                 font-size: 15px;
                 color: #1B498A;
                 text-decoration: none;
             }
        }
    }
}

@media only screen and (min-width: 1400px){
    .service-site{
        margin: 95px 390px 120px 390px;
    }
}

@media only screen and (max-width: 1400px){
  .service-site{
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 940px){
    .service-site{
        flex-direction: column;
        margin: 0;
        background-color: #F2F6FF;
    }
    
    .service__title{
        margin: 0 45px 35px 45px;
        p{
            text-align: left;
            width: 100%;
            font-size: 15px;
            color: #28384E;
        }
    }
    
    .services__list{
        width: 100%;
        ul{
            display: inline-block;
            li:nth-child(2){
                margin: 40px 0px;
            }
        }
    }

    .service__content{
        h3{
            font-size: 20px;
        }

        p{
            margin: 20px 0px;
        }
    }
}