
.home-container{
    width: 100%;
    height: auto;
}
.home-background{
    background-image: url('../../assets/images/backgrounds/home-background.png');
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

@media only screen and (max-width: 940px){
    .home-container{
        width: 100%;
        background-color: #F2F6FF;
    }
    .home-background{
        background-image: none;
    }
}