footer{
    padding: 80px 100px;
    background-color: #011021;
    width: 100%;
}

footer>.footer-main-content{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin:10px auto;
}

.container-form-logo-group{
    max-width: 395px;
}

.logo-para-group{
    margin-bottom: 35px;
    margin-right: 50px;
}

.footer-para{
    color: #A9B2BC;
    font-size: 15px;
    word-wrap: break-word;
}

.footer-logo-group{
    display: flex;
    align-items: center;
}

.footer-logo-group>span{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    margin-left: 5px;
}

/* ----------------------------------- Vertical list --------------------------- */
.footer-vertical-list-group{
    display: flex;
    justify-content: space-between;
    max-width: 610px;
    width: 100%;
}

.footer-vertical-list{
    list-style-type: none;
    padding: 20px 0 0 0;
}

.footer-vertical-list>li{
   white-space: nowrap;
   word-break:break-all;
}

.footer-vertical-list>li:nth-child(1){
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 27px;
}

.footer-vertical-list>li:not(ul>li:nth-child(1)){
    color: #A9B2BC;
    font-size: 15px;
    margin-bottom: 17px;
}

.horizone-line{
    height: 1px;
    width: 100%;
    background-color: #707070;
}

/* -------------------- Bottom footer-------------------------------------------- */
.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    max-width: 100%;
}

.bottom-footer>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.bottom-footer>ul:nth-child(1){
    max-width: 295px;
    width: 100%;
}

.bottom-footer-text{
    color: #A9B2BC;
    font-size: 14px;
}

.icons-list{
    max-width: 155px;
    width: 100%;
}

.icons-list>li{
    border-radius: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
}


.facebook{
    background-color: #3A5897;
}

.twitter{
    background-color: #1DA0F1;
}

.youtube{
    background-color: #C4302B;
}

.icons-list>li>i{
    color: #FFFFFF;
    margin-top: 30%;
}

.icons-list>li:hover{
    cursor: pointer;
}

.highlight{
    color: #FF9C00;
}

@media only screen and (min-width: 1400px){
    footer{
        padding:80px 390px 40px 390px;
    }
}

@media only screen and (max-width: 940px){
    footer>.footer-main-content{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .logo-para-group{
        margin-right: 0;
    }

    .footer-logo-group{
        justify-content: center;
        margin-bottom: 35px;
        flex-wrap: wrap;
    }

    /* ------------------Vertical list-------------------- */
    .footer-vertical-list-group{
        flex-wrap: wrap;
    }

    .footer-vertical-list:nth-child(2){
        margin: 0;
    }

    .footer-vertical-list>li{
        white-space:normal;
     }
    
     /* ----------------- bottom footer --------------------------- */
    .bottom-footer{
        flex-direction: column;
    }
    
    .bottom-footer>ul:nth-child(1){
        display: none;
    }
   
    .bottom-footer-text {
        margin: 10px 0;
        text-align: center;
    }

}