@import 'modal';
.contact-section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 100%;
    margin-bottom:60px;
}

.contact-section__banner{
  margin-right: 20px;
    img{
        max-width: 100%;
        width: 630px;
        height: 495px;
    }
}

.contact-section__title{
    max-width: 100%;
    width: 595px;
    form{
        margin-right: 55px;
        .form__input-text-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div{
                input{
                    background-color: #FAF9F7;
                    border: 1px solid #EDE5D9;
                    font-size: 15px;   
                    outline: none;
                    padding: 20px;
                    width: 100%;
                }
                margin-bottom: 25px;
            }
            
        }
        .form__input-file-group{
          background-color: #FAF9F7;
          border: 1px solid #EDE5D9;
          outline: none;
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          .custom-file-input{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }
          
          .custom-file-input + label{
            font-size: 1.25em;
            color: white;
            background-color: black;
            display: inline-block;
            cursor: pointer;
            padding: 15px;
            i{
              margin-right: 5px;
            }
          }
          #file-chosen{
            margin-left: 10px;
            // word-wrap: break-word;
            // white-space: nowrap;
            // text-overflow: ellipsis;
          }
        }

        &>span{
            font-size: 15px;
            color: #498AB3;
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }
        .form__button{
            display: flex;
            justify-content: flex-end;
            button{
                padding: 15px 35px;
            }
        }
    }
}
.warning{
    border: 1px solid red !important;
}
.span--warning{
    display: inline-block;
    margin-top: 5px;
    color: red !important;
}

.disable-button{
    cursor: not-allowed;
}

.contact-section__modal {
    @include modal-theme;
    .modal-content{
      @include modal-content;
        padding: 10px 20px;
        background-color:  #fefefe;
        margin: auto 10px;
        .close{
          font-size: 28px;
           @include close-modal-icon ;
        }
        h4{
            padding: 0 25px;
            font-size: large;
            margin: 0;
        }
        ol>li{
            span{
                font-weight: bold;
            }
            p{
                margin: 0;
            }
            margin: 10px 0;
        }
    }
}

@media only screen and (max-width: 1200px){
    .contact-section__banner{
        img{
            width: 100%;
            height: auto;
        }
    }
    .contact-section__modal{
        .modal-content{
            position:static;
            transform: none;
        }
    }
}

@media only screen and (min-width: 1400px){
    .contact-section{
          padding-right: 390px;
    }

}

@media only screen and (max-width: 940px){
    .contact-section{
        flex-direction: column;
        margin: 0;
        background-color: #F2F6FF;
    }
    
    .contact-section__banner{
        margin-right: 0;
        margin-bottom: 60px;
        img{
            width: 100%;
            height: auto;
        }
    }
    
    .contact-section__title{
        h3{
            font-size: 14px;
            font-weight: bold;
        }
    }
    
    .contact-section__title{
        form{
            margin-right: 0;
            margin-top: 30px;
            .form__button{
                margin-top: 10px;
            }
        }
    }

    .contact-section__modal{
        .modal-content{
            @media only screen and (max-height: 700px) {
                height: 100%;
                overflow: auto;
            }
        }
    }
}

// ================custom react modal =================================
.react-modal__button{
  border: none;
  outline: none;
  width: 80px;
  height: 35px;
  background-color: #97d669;
  font-weight: 500;
  color: #fefefe;
  &:hover{
    cursor: pointer;
  }
}

.ReactModal__Overlay{
  background-color: rgba(0,0,0,0.4) !important; /* Black w/ opacity */
}

.ReactModal__Content{
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .ReactModal__Content{
    width: 50%;
  }
}

